/* QUICK SEARCH V2 FIX */
.layer_bc663c:has(.quickswitcher_ac6cb0) {
    justify-content: start;
}
.quickswitcher_ac6cb0 {
    background: none;
    padding: 12;
}
.quickswitcher_ac6cb0 .scroller_ac6cb0 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 8px !important;
}
.quickswitcher_ac6cb0 .input_ac6cb0 {
    height: 50px;
	background-color: var(--bg-3);
}
.quickswitcher_ac6cb0 .input_ac6cb0[value=""] {
    border-radius: 8px;
}
.quickswitcher_ac6cb0 .input_ac6cb0:not([value=""]) {
    border-radius: 8px 8px 0 0;
}
.quickswitcher_ac6cb0 .input_ac6cb0[value=""] + .scroller_ac6cb0,
.quickswitcher_ac6cb0 .protip_ac6cb0 {
    display: none;
}
.backdrop__1a911:has(+ .layer_bc663c .quickswitcher_ac6cb0) {
    opacity: 0;
}


/* Server Name Longer */
[class^=tooltip] /* Allow the server tooltip to fit the entire server name in one line */ {
    max-width: unset !important; /* allow it to be larger */ }


/* Remove translate, gift, gif, sticker icon */
button[aria-label|="Send a gift"]{
    display:none;
}
button[aria-label|="Open GIF picker"]{
    display:none;
}
button[aria-label|="Open sticker picker"]{
    display:none;
}
button[aria-label|="Open Translate Modal"]{
    display:none;   
}


/* Remove the Create Invite button from Channel Lists */
[class^="iconVisibility_"] [aria-label="Create Invite"] {
    display: none !important;
}
[class^="iconVisibility_"] [aria-label="Edit Channel"] {
    display: none !important;
}
[class^="iconVisibility_"] [aria-label="Create Channel"] {
    display: none !important;
}

/* remove the three emoji when hovering over a message */
/* remove separator as well*/
div[aria-label*="Message Actions"] > div > div:has( > div > div[class*="emoji"]),
div[aria-label*="Message Actions"] > div > div[class*="separator_"]{
    display:none;
}

/* remove app bs from images, probably language dependant? */
div[aria-label="Edit Image with Apps"]{
    display:none;
}

/* Remove Boost-thing in servers */
div[data-list-item-id*="channels___boosts-"]{
    display:none;
}

/* Remove Activities */
[class^=nowPlayingColumn_] {
  display: none;
}

/* remove reaction right click */
[class^=wrapper_]:has(>#message-quickreact-697745232413982730) {
  display: none;
}
[class^=wrapper_]:has(>#message-actions-quickreact-697745232413982730) {
  display: none;
}

/* remove add status */
[aria-label="Add custom status"] { display: none; }


/* changes to the channel list for better usability */
/* squish channel height/spacing */
[class="link__2ea32"] {
    padding-block: 3px;
}

/* squeeze channel list left */
.wrapper__2ea32:not(.typeThread__2ea32) {
    margin-left: 5px !important;
}
.wrapper__29444 {
    padding-left: 14px !important;
}
/* fix threads "spine" */
.spineBorder__5b40b {
    bottom: 20px !important;
    left: 16px;
}
.containerDefault_c69b6d>svg {
    top: 5px;
    left: 16px;
}
wrapper__2ea32.typeThread__2ea32 {
    margin-left: 21px;
}

/* remove activity members-list */
div[aria-label*="Members"] > div > div[role="listitem"]{
    display:none;
}
div[aria-label*="Members"] > h3:has(> span > div > div[role="button"]){
    display:none;
}

