@import url('https://fonts.googleapis.com/css2?family=Sora:wght@420&display=swap');
:root {
/* font, change to 'gg sans' for default discord font*/
--font-primary: "Sora";
--font-display: "Sora";
--font-headline: "Sora";
--font-code: "Sora";
-font: 'Sora'
}